body {background-color:aliceblue;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

p {
    font-family: Poppins, verdana, sans-serif;
    font-size: 1em;
}

/* name header */
h1 {
    font-size: 4em;
    color: hsl(230,40%,30%,1);
    padding: 6% 0 0 4%;
    margin:0;
}

/* nav_bar */
#nav_bar {
    width:100%;
    padding: 0;
    margin: 0;
    background-color: hsla(200,50%,80%,1);
    background-image: url('images/cloud_wallpaper.png');
    background-repeat: no-repeat;
    background-position: 0% 73%;
    background-size: cover;
}
#nav_bar nav ul {
    background-color: hsla(197,70%,90%,.9);
    list-style-type: none;
    padding: 0;
    padding-right: 5%;
    margin: 0;
    overflow: hidden;
}
#nav_bar nav li {
    float: right;
}
#nav_bar nav a {
    color: hsla(200,40%,30%,1);
    font-family: Poppins, verdana, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    display:block;
    padding: 10px 40px;
}
#nav_bar nav a:hover {
    color: hsla(200,30%,20%,1);
    background-color: hsla(192,50%,80%,1);
}

h2 {
    padding-left: 10px;
}

#main {
    width: 80%;
    margin:auto;
    padding: 1%;
}